SUBDOMAIN="YOUR SUBDOMAIN"
Z_EMAIL="YOUR ZENDESK EMAIL"
Z_TOKEN="YOUR ZENDESK API TOKEN"
C_TOKEN="YOUR OPENAI API TOKEN"
S_EMAIL="ADDRESS TO SEND EMAIL"
TENANT_ID="YOUR MICROSOFT TENANT ID"
EMAIL_ID="YOUR MICROSOFT CLIENT ID"
EMAIL_SECRET="YOUR MICROSOFT CLIENT SECRET"
R_EMAIL="ADDRESS THAT RECEIVES EMAIL"